@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #304b5f;
    padding: 20px;
}
.wrapper{
    padding: 25px;
    max-width: 460px;
    width: 100%;
    border-radius: 3px;
    background: #fff;
}
.wrapper .items{
    background: #304b5f;
    padding: 12px 17px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    display: flex;
    border-radius: 3px;
}
.wrapper .items:last-child{margin-bottom: 0px;}
.wrapper .items .text{
    font-size: 18px;
    font-weight: 400;
}
.wrapper .items i{
    font-size: 18px;
    cursor: pointer;
}